* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 86%, 5%);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-slategray-600 {
  background-color: hsl(218, 74%, 13%);
}
